<style>

    .contendor_campo_login{
        margin-bottom: 50px;
    }

    .login_panel{
        background-image: url(/assets/fondologin.png);
        background-repeat:no-repeat;
        background-position:center;
        padding-top: 130px;
        /* background-size: 100% 100%; */
        /* background-size: cover; */
        /* background-size:contain; */
    }
    
    .icon_login{
        width: 25px;
        height: 25px;
    }

    .campo_login{
        padding: 20px 12px;
    }

    .datos_login{
        padding: 30px 20px;
        width: 40%;
        margin: 0 auto;
    }

    .contendor_btn_login{
        text-align: center;
    }

    .contendor_opciones_login{
        margin-top: 50px;
    }

    .btn_login{
        font-size: 30px;
    }

    .opcion_registro a{
        cursor: pointer;
        color: #162e52;
    }

    .opcion_registro a:hover{
        color: #000000;
        text-decoration: none;
    }

    @media (max-width: 900px) {
        .datos_login{
            width: 60%;
        }
    }

</style>
<div class="login_container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="login_panel">
                <div class="datos_login">
                    <div class="form-group contendor_campo_login">
                        <label class="sr-only" for="exampleInputAmount">Usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><img class="icon_login" src="<%= asset_path 'user.png' %>" alt=""></div>
                                <input type="text" class="form-control campo_login" id="nicklogin" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="form-group contendor_campo_login">
                        <label class="sr-only" for="exampleInputAmount">Contraseña</label>
                        <div class="input-group">
                            <div class="input-group-addon"><img class="icon_login" src="<%= asset_path 'lock.png' %>" alt=""></div>
                                <input type="password" class="form-control campo_login" id="passlogin" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="form-group contendor_btn_login">
                        <button class="btn btn-primary btn_login"><span class="glyphicon glyphicon-log-in"></span></button>
                    </div>
                    <div class="form-group contendor_opciones_login">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 opcion_registro btn btn-default">
                                <a href="#">Recuperar Contraseña</a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 opcion_registro btn btn-default">
                                <a href="#">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    var espacio 		=  $('.login_container').offset().top;
    var alto 			= $(window).height();
    var medida_grid		= (alto - espacio);
    console.log(espacio);
    console.log(alto);
    console.log(medida_grid);
    $('.login_panel').css({'max-height':medida_grid,'min-height':medida_grid});

});
</script>